* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html 
{
  font-size: 62.5%;
}

body 
{
  font-family: "Goldman", cursive;
}

body.bruh
{
  background-image: url(./img/background.jpeg);

  background-size: cover;
}

body.haha
{
  background-color: black;

  font-family: "Goldman", cursive;
}


nav
 {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}

nav ul
{
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align: center;
}

nav li 

{
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}


nav a 
{
  color: white;
  text-decoration: none;
}

nav img 
{
  width: 5vw;
}

h1
{
  font-size: 50px;

  font-weight: bold;
}

p{font-size: 15px;
font-family: 'goldman' cursive;}

h1.index
 {
  color: white;
}


header.L 
{
  color: yellow;
}


footer.L 
{
  color: white;

  font-size: 15px;
}

  footer 
  {
    position: fixed;
  
    bottom: 0;
  
    left: 0;
  
    width: 100%;
  
    background-color: #00a8c7;
  
    color: white;
  
    padding: 10px;
  
    text-align: left;
  
    margin: 0;
  
    text-align: center;
  
    }

.html
    {
      float: left;

      margin-right: 10%;

      margin-left: 15%;

      height: 0,3vh;

      width: 0,3vw;

      margin-top: 4%;
    }

.htmmlpara
{
  margin-top: 10%;

  margin-left: 25%;
}

.js

{
color: white;

margin-top: 10%;

margin-left: 25%;

}

.java
{
  float: left;

  margin-right: 10%;

  margin-left: 13%;

  height: 0,3vh;

  width: 0,3vw;

  margin-top: 4%;
}

.phpp

{
  margin-top: 10%;

  margin-left: 25%;
}

.php
{
  float: left;

  margin-right: 10%;

  margin-left: 13%;

  height: 0,3vh;

  width: 0,3vw;

  margin-top: 4%;


}

.sqll

{
  float: left;

  margin-right: 10%;

  margin-left: 13%;

  height: 0,3vh;

  width: 0,4vw;

  margin-top: 4%;
}

.sql

{
  margin-top: 10%;

  margin-left: 25%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul
{
  list-style-type: none;
  background-color: #00a8c7;
  overflow: hidden;
}

li
{
  float: left;
}

li a
{
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 0.8rem 1rem;
  display: inline-block;
}

.dropdown-content
{
  display: none;
  position: absolute;
  background-color: #E9E9E9;
  min-width: 20vw;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
  z-index: 1;}

  .dropdown-content a
  {
    color: #00a8c7;
    padding: 0.8rem 1rem;
    display: block;
    text-align: left;
  }

  .dropdown:hover .dropdown-content{
    display: block;
  }