header {font-size: 100vw;
    font-weight: bold; 
    font-style: oblique;
    color: white;
    font-size: 11vh;
}


h2 {
    font-size: 20px;
     font-weight: bold;
     color:#0000ff;
    }

h3 {
    font-size: 16px;
     font-weight: bold;
      color: teal;
    }

p {
    font-weight: bold;
     color: white;
    }

a {
    color: #8A2BE2;
}

a:link {
    text-decoration: none;
}

body {
    background-image: url('turtle.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;}

    section article p{color: white;}

    section article {border-style: solid; border-width: 10px; border-color: white; border-left-width: 20px; border-radius: 10px;}

        

